# Express Port
PORT=4000

# Database Connection String
# For Supabase, this can be retrieved from: Project Settings -> Database -> Connection string
# Make sure to replace [YOUR-PASSWORD] with your actual Supabase database password.
DATABASE_URL=postgresql://postgres.pnpnpuscbmtuaggvvcdx:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres

# Node Environment
NODE_ENV=development

# CORS Allow Origin
CORS_ORIGIN=*
